:root {
  --background-color: #F0F0F0;
  --header-background-color: #D2D2D2;
  --text-color: #333333;
  --link-color: rgb(0, 125, 151);
  --visited-link-color: rgb(125, 49, 134);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1717;
    --header-background-color: #162222;
    --text-color: #b1b1b1;
    --link-color: rgb(0, 67, 98);
    --visited-link-color: rgb(76, 0, 85);
  }
}

* {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  letter-spacing: 0.02em;
}

footer {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  text-align: center;
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--header-background-color);
}

a {
  /*border for fancy underline*/
  border-style: hidden hidden solid hidden;
  border-color: var(--link-color);

  /*remove original underline*/
  text-decoration: none;
  color: var(--text-color)
}

a:visited {
  border-color: var(--visited-link-color);
}

h1{
  font-size: 3em;
}

p {
  font-size: 1.5em;
}