a.img {
  border-style: hidden;
}

img {
  width: 30%;
  vertical-align: middle;
}

@media only screen and (max-width: 600px){
  img {
    width: 90%;
  }
}

img.avatar {
  width: 33%;
  border-radius: 50%;
}

img.pixel {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

