header.company_name {
    background-color: #eeeeee;
}

img {
    width: auto;
    height: auto;
}

img.logo {
    margin: auto;
    display: none;
}

img.pixel {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

@media (prefers-color-scheme: dark) {
    header.company_name {
        background-color: #444444;
    }
}
