<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://martinmimigames.github.io/res/template/base.html" />
    <meta name="description" content="This is a template page of martinmimigames.">
    <link rel="shortcut icon" href="/res/icon/website/default.ico">
    <link rel="stylesheet" href="/res/css/default.css">
    <title>Template page : The official website of martinmimigames</title>
  </head>

  <body>
    <header>
      Template page
    </header>
    <div class="body">

    </div>>
    <footer>
      <p><a href="/index.html">Back to Homepage</a></p>
      <p>Copyright &#169; 2022 martinmimigames</p>
    </footer>
  </body>
</html>
