<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://martinmimigames.github.io/res/template/base.html" />
    <meta name="description" content="This is a template page of martinmimigames.">
    <script src="/res/javascript/default.js"></script>
    <link rel="shortcut icon" href="/res/icon/website/default.ico">
    <link rel="stylesheet" href="/res/css/default.css">
    <script>
      if (isMobile()) {
        addCss("/res/css_mobile/default.css");
      }
    </script>
    <title>template page : The official website of martinmimigames</title>
  </head>

  <body>
    <header>
      <h1 class="name">template page</h1>
    </header>

    <footer>
      <p><a href="/index.html">Back to Homepage</a></p>
      <p>Copyright &#169; 2022 martinmimigames</p>
    </footer>
  </body>
</html>
